body {
font-family: "Helvetica", sans-serif;
color: seashell;
background-color: black;
font-size: 22px;
text-align: center;
}

header {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 10;
  margin-top: -10px;
}

header img{
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;

}
nav{
  text-align: right;
    flex-grow: 1;
    padding-right: 15px;
    padding-top: 20px;

}
a{
  color: white;
  padding: 10px;
}
#main {
  display: flex;
  align-content: center;
  position: relative;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 700px;
  background-position: center;
  padding-top: 315px;
   }
h2, h3, h4    {
  margin: 0;
  padding: 10px;
}

#mission {
  display: block;
  margin-bottom: 400px;
background-color: black;
width: 100%;
}


.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

/***TEA OF THE MONTH**/
#store {
  width: 1000px;
  margin: auto;
  align-items: center;
  margin-bottom: 80px;
}

.store {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.storeitems span {
  display: block;
padding: 5px;
font-weight: bold;
text-align: center;
flex-wrap: wrap;
}

.storeitems img {
margin: 10px;
  width: 300px;
  height: 200px;
  height: 200px;
margin: 10px;
display: block;
}

/***LOCATIONS**/

#location {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-size: 1200px;
  width: 1200px;
  height: 500px;
  margin-top: 60px;
  margin-bottom: 100px;
  padding-top: 60px;
  margin: auto;

}
.location {
  display: block;
  background-color: black;
  opacity: 1.0;
  Height: 300px;
  width: 300px;
  margin: 15px 20px 20px 20px;
  background-color: black;
   }

.location h3 {
  padding-top: 55px;
}



.info {
  height: 200px;
}

#copyright {
  text-align: left;
  margin: 20px;
}
